<div class="course">
    <h2 class="center">{{ course.name }}</h2>

    <figure>
        <img src="{{ course.image }}"/>
    </figure>

    <hr>
    <p class="price center">{{ course.price }}</p>
</div>