.nav-wrapper {
  padding: 0px 20px;
}

.price {
  font-size: 2rem;
}

.course {
  width: 40%;
  margin: 0 auto;
}

.course figure,
.course figure img {
  width: 100%;
  margin: 0px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  margin-top: 1.2em;
}