.nav-wrapper {
  padding: 0px 20px;
}

.price {
  font-size: 2rem;
}

.course {
  width: 40%;
  margin: 0 auto;
}

.course figure,
.course figure img {
  width: 100%;
  margin: 0px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  margin-top: 1.2em;
}

.alert {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, 0.3);
  color: rgba(255, 0, 0, 1);
}

.auth .reset-password {
  margin-top: 8px;
}
